:root{
    --principal-color: rgb(49, 49, 49);
    --second-color: #1b1919;
    --third-color: #333333;
}
body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
body *{
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: var(--principal-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    color: #350e15;
    font-size: 3vw;
}
.left-login-image{
    width: 35vw;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--second-color);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1{
    color: white;
    font-weight: 800;
    margin: 0;
}
.textField{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textField > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: var(--third-color);
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textField > label{
    color: white;
    margin-bottom: 10px;
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--second-color);
    background: var(--principal-color);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ff000052;
    display: flex;
    justify-content: center;    
    align-items: center;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vh;
    }
    .card-login{
        width: 90%;
    }
}